body{
margin:0;
background:#111;
color:white;
font-family:Arial;
}

#toolbar{
position:fixed;
top:0;
left:0;
width:100%;
background:#1e1e1e;
display:flex;
gap:10px;
padding:10px;
align-items:center;
z-index:10;
}

canvas{
display:block;
margin-top:60px;
}